@font-face {
    font-family: 'Mont Heavy DEMO';
    src: url('../assets/fonts/Mont-HeavyDEMO.woff2') format('woff2'),
        url('../assets/fonts/Mont-HeavyDEMO.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont ExtraLight DEMO';
    src: url('../assets/fonts/Mont-ExtraLightDEMO.woff2') format('woff2'),
        url('../assets/fonts/Mont-ExtraLightDEMO.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

